<header class="text-gray-600 body-font">
  <div
    class="
      container
      mx-auto
      flex flex-wrap
      p-5
      flex-col
      md:flex-row
      items-center
    "
  >
    <span class="ml-3 text-2xl font-semibold text-green-600">Medium</span>

    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    >
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        class="flex flex-row mr-5 hover:text-blue-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
          />
        </svg>
        Home</a
      >
      <ng-container *ngIf="isLoggetIn$ | async">
        <a
          [routerLink]="['/articles/new']"
          class="flex mr-5 hover:text-blue-600"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
            />
          </svg>
          New post</a
        >
        <a [routerLink]="['/settings']" class="flex mr-5 hover:text-blue-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
            />
          </svg>
          Setting</a
        >
        <a
          [routerLink]="['/profile', (currentUser$ | async).username]"
          class="flex mr-5 hover:text-blue-600"
        >
          <img
            class="w-5 h-5 rounded"
            src="{{ (currentUser$ | async).image }}"
            alt=""
          />&nbsp;
          {{ (currentUser$ | async).username }}
        </a>
      </ng-container>
      <ng-container *ngIf="isAnonymus$ | async">
        <a [routerLink]="['/login']" class="mr-5 hover:text-blue-600"
          >&nbsp; Sign In</a
        >
        <a [routerLink]="['/register']" class="mr-5 hover:text-blue-600"
          >&nbsp;Sign Up</a
        >
      </ng-container>
    </nav>
  </div>
</header>
